@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center titulo">
    <h1 class="display-4">Desafio BRUC</h1>
    <p>Desenvolver um aplicativo com base em CRUD. Sem se preocupar com o layout da página o aplicativo deve inserir, editar,
    listar e excluir registros da base de dados. Os dados que serão inseridos devem ser baseados em um sistema de clientes.
    Não há necessidade de cadastro de imagens ou arquivos.</p>
    <p>Após o cadastro dos dados, o sistema de inserção/edição/exclusão devem enviar um e-mail informando qual foi a alteração realizada no sistema.
    No caso de inserção e edição, o corpo do e-mail deve conter os dados que foram inseridos</p>
</div>
