
@model Cliente
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <form asp-action="Alterar" asp-controller="Cliente" method="post">
        <div class="form-group">
            <label class="form-label" asp-for="Id">Id</label>
            <input class="form-control" asp-for="Id" type="text" readonly/>
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="Nome">Nome</label>
            <input class="form-control" asp-for="Nome" type="text" />
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="Email">Email</label>
            <input class="form-control" asp-for="Email" type="text" />
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="Telefone">Telefone</label>
            <input class="form-control" asp-for="Telefone" type="text" />
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="Cidade">Cidade</label>
            <input class="form-control" asp-for="Cidade" type="text" />
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="Estado">Estado</label>
            <input class="form-control" asp-for="Estado" type="text" />
        </div>
        <div class="form-group">
            <label class="form-label" asp-for="DataNascimento">Data Nas</label>
            <input class="form-control" asp-for="DataNascimento" type="datetime" />
        </div>
        <input type="submit" value="Salvar" />
    </form>


</body>

</html>